<h1>Listing tpousers</h1>

<table>
  <tr>
    <th>V</th>
    <th>Userid</th>
    <th>Profileid</th>
    <th>Day1</th>
    <th>New1</th>
    <th>Total1</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @tpousers.each do |tpouser| %>
  <tr>
    <td><%= tpouser.v %></td>
    <td><%= tpouser.UserId %></td>
    <td><%= tpouser.ProfileId %></td>
    <td><%= tpouser.Day1 %></td>
    <td><%= tpouser.New1 %></td>
    <td><%= tpouser.Total1 %></td>
    <td><%= link_to 'Show', tpouser %></td>
    <td><%= link_to 'Edit', edit_tpouser_path(tpouser) %></td>
    <td><%= link_to 'Destroy', tpouser, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Tpouser', new_tpouser_path %>
