<p id="notice"><%= notice %></p>

<p>
  <b>V:</b>
  <%= @tpouser.v %>
</p>

<p>
  <b>Userid:</b>
  <%= @tpouser.UserId %>
</p>

<p>
  <b>Profileid:</b>
  <%= @tpouser.ProfileId %>
</p>

<p>
  <b>Day1:</b>
  <%= @tpouser.Day1 %>
</p>

<p>
  <b>New1:</b>
  <%= @tpouser.New1 %>
</p>

<p>
  <b>Total1:</b>
  <%= @tpouser.Total1 %>
</p>


<%= link_to 'Edit', edit_tpouser_path(@tpouser) %> |
<%= link_to 'Back', tpousers_path %>
